@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.cam-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include tablet {
    gap: 2.25rem;
  }

  @include desktop {
    flex-direction: row;
    gap: 2.25rem;
  }
}

.cam-container canvas {
  height: auto;
  border-radius: 25px;

  @include mobile {
    width: 100% !important;
    height: auto !important;
  }

  @include tablet {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.cam__content--left {
  display: flex;
  flex-direction: column;
  gap: 1.15rem;

  @include tablet {
    gap: 2.25rem;
    justify-content: center;
  }
}

.cam__content--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;

  @include tablet {
    flex-direction: row;

    gap: 2.25rem;
  }

  @include desktop {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.25rem;
  }
}

.cam__instructions {
  @include tablet {
    width: 60%;
  }

  @include desktop {
    width: 100%;
  }
}

.cam__instructions-step {
  list-style-type: decimal;
  margin: 0.5em 0;
  margin-left: 1.5rem;
  padding-left: 10px;
}

.cam__feedback {
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  padding: 1.5rem;
  height: 50%;
  border: 5px solid transparent;
}

.cam__img {
  width: 100%;
  border-radius: 1.5625rem;
  border: solid 1px black;

  @include tablet {
    height: fit-content;
    width: 40%;
  }

  @include desktop {
    width: 100%;
  }
}

.cam__feedback--success {
  border-color: green;
  background-color: rgb(255, 255, 255, 0);
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.cam__timer {
  padding: 1.5rem;
  text-align: center;

  @include desktop {
    padding: 1rem;
    font-size: 100px;
  }
}

.cam__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2.5rem 0 1rem;
  gap: 1rem;

  @include tablet {
    flex-direction: row;
    padding-top: 2.25rem;
    padding-bottom: 0;
  }

  @include desktop {
    padding: 2.25rem 0;
  }
}
