@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.cam-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include desktop {
    flex-direction: row;
    gap: 2.25rem;
  }
}

.cam-container canvas {
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  min-width: 640px; /* Ensure the canvas maintains its width */
  height: auto;
  border-radius: 25px;
}

.cam__content--left {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.cam__content--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cam__instructions-step {
  list-style-type: decimal;
  margin: 1em 0;
  margin-left: 1.5rem;
  padding-left: 10px;
}

.cam__feedback {
  background-color: white;
  border-radius: 25px;
  border: solid 1px black;
  padding: 1.5rem;
}

.cam__img {
  width: 100%;
  border-radius: 25px;
  border: solid 1px black;
}

.cam__timer {
  padding: 1.5rem;
  text-align: center;

  @include desktop {
    font-size: 100px;
  }
}
