@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.pose-details {
  &__header {
    display: flex;
    align-items: baseline;
    gap: 1.5rem;
  }

  &__icon-link {
    &:hover {
      img {
        transition: transform 0.3s ease;
        transform: translateX(0.625rem);
      }
    }
  }

  &__button {
    &--back {
      height: 100%;
      width: 1.25rem;
      padding-bottom: 0.3125rem;
    }
  }
  &__img {
    width: 100%;
    border: 0.0625rem solid $dark-gray;
    border-radius: 1.5625rem;
  }

  &__sanskrit {
    font-weight: 400;
    text-align: center;

    font-size: 0.9375rem;
    padding-top: 1rem;

    @include tablet {
      font-size: 1rem;
      padding-top: 0.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include tablet {
      gap: 2.25rem;
      flex-direction: row;
      align-items: flex-start;
    }
    &--left {
      display: flex;
      flex-direction: column;

      @include tablet {
        width: 50%;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet {
        width: 50%;
        align-items: flex-start;
      }
    }
  }

  &__description {
    font-size: 1.5rem;
    text-align: center;
    @include tablet {
      font-size: 1.5rem;
      text-align: left;
    }

    @include desktop {
      font-size: 1.75rem;
    }
  }

  &__cta {
    align-items: center;
  }

  &__grid {
    @include grid-layout(1, 1.5rem);
    padding: 2.5rem 0;
    @include tablet {
      @include grid-layout(2, 3rem);
      padding: 1.5rem 0;
    }
  }

  &__instructions-item {
    list-style-type: decimal;
    margin: 0.5em 0;
    margin-left: 1.5rem;
    padding-left: 0.625rem;

    &::marker {
      font-weight: bold;
    }
  }

  &__list {
    &--unordered {
      list-style-type: disc;
      margin: 0.5em 0;
      margin-left: 1.5rem;
      padding-left: 0.625rem;
    }
  }

  &__benefits {
    background-color: $white;
    padding: 2.25rem;
    border-radius: 1.5625rem;
    border: 0.0625rem solid $dark-gray;
  }
}

.card {
  &__tags {
    &--description {
      justify-content: center;
      @include tablet {
        justify-content: flex-start;
      }
    }
  }
}
