@font-face {
    font-family: "Nohemi";
    src: url("./../../assets/fonts/Nohemi-Regular.otf") format("opentype"),
        url("./../../assets/fonts/Nohemi-Regular.ttf") format("truetype"),
        url("./../../assets/fonts/Nohemi-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Nohemi";
    src: url("./../../assets/fonts/Nohemi-ExtraLight.otf") format("opentype"),
        url("./../../assets/fonts/Nohemi-ExtraLight.ttf") format("truetype"),
        url("./../../assets/fonts/Nohemi-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Nohemi";
    src: url("./../../assets/fonts/Nohemi-Medium.otf") format("opentype"),
        url("./../../assets/fonts/Nohemi-Medium.ttf") format("truetype"),
        url("./../../assets/fonts/Nohemi-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }


  @font-face {
    font-family: "Nohemi";
    src: url("./../../assets/fonts/Nohemi-SemiBold.otf") format("opentype"),
        url("./../../assets/fonts/Nohemi-SemiBold.ttf") format("truetype"),
        url("./../../assets/fonts/Nohemi-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Nohemi";
    src: url("./../../assets/fonts/Nohemi-ExtraBold.otf") format("opentype"),
        url("./../../assets/fonts/Nohemi-ExtraBold.ttf") format("truetype"),
        url("./../../assets/fonts/Nohemi-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }


  @font-face {
    font-family: "Nohemi";
    src: url("./../../assets/fonts/Nohemi-Black.otf") format("opentype"),
        url("./../../assets/fonts/Nohemi-Black.ttf") format("truetype"),
        url("./../../assets/fonts/Nohemi-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }