$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-button: #ff7f50;
$white: #ffffff;
$black: #000000;
$hot-pink: #ff69b4;
$yellow: rgba(250, 234, 202, 1);
$dark-gray: #788697;
$border-1: #e5eaed;
