@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.footer {
  background-color: rgb(255, 255, 255, 0.4);
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;

  @include tablet {
    padding: 2.25rem 3rem;
  }

  @include desktop {
    margin: 0 auto;
    padding: 2.25rem 8rem;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.footer__content--right {
  @include tablet {
    justify-content: flex-end;
  }
}

.footer__text {
  margin: 0.5rem 0;
  font-size: 0.9375rem;
}

.footer__logo {
  padding: 1rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  @include tablet {
    padding: 1rem 0;
    justify-content: flex-start;
  }
  &:hover {
    background-color: rgb(255, 255, 255, 0);
  }
}

.footer__logo-icon {
  width: 2rem;
}

.footer__socials {
  display: flex;
  justify-content: center;

  @include tablet {
    padding: 1rem 0;
    justify-content: flex-end;
  }
}

.footer__github-icon {
  width: 25px;
  height: 25px;
}

.footer__github-link {
  padding: 0;
  margin: 0;
  &:hover {
    background-color: rgb(255, 255, 255, 0);
  }
}
