.stretches-cam-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
}

.stretches-cam-container canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 640px; /* Ensure the canvas maintains its width */
  height: auto;
}
