@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.instructions {
  margin: 1.5rem;

  @include tablet {
    margin: 3rem 3rem;
  }
  @include desktop {
    max-width: 80rem;
    padding: 0 8rem;
    margin: 3rem auto;
  }
}

.instructions__list {
  @include desktop {
    margin: 8rem 0;
  }
}
.instructions__steps {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.instructions__card {
  @include tablet {
    width: 30vw;
  }

  @include desktop {
    width: 25rem;
  }
}

.instructions__proceed {
  display: flex;

  justify-content: center;
  padding: 1rem 0;

  @include tablet {
    margin-top: 2.25rem;
  }
}
