@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.instructions {
  margin: 1.5rem;

  @include tablet {
    margin: 3rem 3rem;
  }
  @include desktop {
    max-width: 80rem;
    padding: 0 8rem;
    margin: 3rem auto;
  }

  &__list {
    @include desktop {
      margin: 4rem 0 8rem;
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.25rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__card {
    @include tablet {
      width: 30vw;
    }

    @include desktop {
      width: 25rem;
    }
  }

  &__number {
    font-size: 50px;
  }

  &__text {
    @include tablet {
      height: 7rem;
    }

    @include desktop {
      height: 5rem;
    }
  }

  &__img {
    border-radius: 25px;
    width: 100%;
    position: relative;
    z-index: -1;
  }

  &__proceed {
    display: flex;

    justify-content: center;
    padding: 1rem 0;

    @include tablet {
      margin-top: 2.25rem;
    }
  }
}
