@import "./styles/partials/mixins.scss";
@import "./styles/partials/typography.scss";
@import "./styles/partials/variables.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Nohemi", "Helvetica", "Arial", sans-serif;
  color: $black;
}

body {
  // background-color: $off-white;
  background: rgb(254, 255, 127);
  background: radial-gradient(
    circle,
    rgba(254, 255, 127, 1) 0%,
    rgba(253, 218, 255, 1) 100%
  );
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;

  @include tablet {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-style: italic;
  // line-height: 2rem;

  @include tablet {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    // line-height: 2.75rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  // line-height: 2rem;

  @include tablet {
    font-size: 3rem;
    // line-height: 2.75rem;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
}

h5 {
  font-size: 0.875rem;
  line-height: 2rem;
  display: inline-block;
  padding: 1px 20px; // Adjust the padding to your preference
  border-radius: 50px; // Adjust the border-radius to create the oval shape
  text-align: center;
  border: solid $black 1px;
  font-weight: 500;
  margin-bottom: 1.5rem;

  @include tablet {
    font-size: 1rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;

  @include tablet {
    font-size: 18px;
  }
}

a {
  font-size: 1rem;
  padding: 1.5rem;
  line-height: 0;

  &:hover {
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 50px;
  }

  @include tablet {
    font-size: 18px;
  }
}

button {
  padding: 1.5rem;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  font-style: italic;
  border: none;
  background-color: $lime-green;
  font-weight: 500;
  font-size: 1rem;
  @include tablet {
    font-size: 18px;
  }

  &:hover {
    background-color: rgb(255, 255, 255, 0.4);
  }
}
