@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.main {
  margin: 1.5rem;
  margin-bottom: 5rem;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    flex-direction: row;
    padding: 3rem 3rem;
    gap: 5rem;
  }
  @include desktop {
    height: 50vh;
    max-width: 80rem;
    padding: 0 8rem;
    margin: 0 auto;
  }
}

.main__copy {
  text-align: center;
  order: 2;
  @include tablet {
    text-align: left;
    order: 1;
  }
}

.main__img {
  width: 20vw;
  height: auto;
}

.main__cta-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;

  @include tablet {
    justify-content: flex-start;
  }
}

.main__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  order: 1;

  @include tablet {
    justify-content: flex-end;
    font-size: 150px;
    width: 60%;
    order: 2;
  }
  @include desktop {
    width: 50%;
    font-size: 175px;
  }
}

.about {
  margin: 1.5rem;
  @include tablet {
    margin: 3rem;
  }

  @include desktop {
    max-width: 80rem;
    padding: 0 8rem;
    margin: 2rem auto;
    margin-bottom: 4rem;
  }
}

.about__header {
  text-align: center;
}

.main__img {
  width: 100%;
  padding: 0.5rem;
  font-size: 30px;

  @include tablet {
    font-size: 40px;
  }

  @include desktop {
    padding: 1rem;
    font-size: 50px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about__card {
  //   border-radius: 25px;
  //   border: $black 2px solid;

  @include tablet {
    width: 30vw;
  }

  @include desktop {
    width: 25rem;
  }
}
