@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.black {
  font-weight: 900;
}

.semi-bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.extra-light {
  font-weight: 200;
}

.circle-text {
  border-radius: 10px;
  border-color: $black !important;
  border-width: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $off-white;
}

.main {
  margin: 1.5rem;
  height: 60vh;
  display: flex;
  align-items: center;
  @include tablet {
    margin: 3rem 2.25rem;
  }
  @include desktop {
    height: 40vh;
    max-width: 80rem;
    margin: 2.25rem auto;
  }
}

.main__copy {
  text-align: center;
}

.main__img {
  width: 20vw;
  height: auto;
}

.main {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.25rem;
  }
}

.main__cta-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.about {
  margin: 1.5rem;
  @include tablet {
    margin: 3rem 2.25rem;
  }

  @include desktop {
    max-width: 80rem;
    margin: 0 auto;
  }
}

.main__img {
  width: 50px;
  height: auto;
  padding: 0.5rem;
}

.value-props {
  margin: 1rem;
  @include tablet {
    margin: 3rem 2.25rem;
  }

  @include desktop {
    max-width: 80rem;
    margin: 0 auto;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about__card {
  //   border-radius: 25px;
  //   border: $black 2px solid;
}
